body {
    background-color: #000;

}


.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    padding: 12px;
    width: 300px;

}

.sidebar_navegation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_navegation .logo img{
    width: 80px;

}
.logo{
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px; 
}
.logo img{
    width: 80px;
}

.sidebar nav ul{
   margin-top: 20px;
   padding: 0 20px 10px 20px;

}

.sidebar ul li{
    padding: 10px 0;


}
.sidebar nav ul li a{
    color:#b3b3b3;
    text-decoration:none;
    font-weight: 600;
    font-size:14px;
    font-family: "DM Sans",sans-serif;
}


.biblioteca{
    background-color: #121212;
    border-radius: 8px;
    display:flex;
    /*Basicamente deixa tudo "justificado entre os objetos, e com "space-between" deixa um espaçamento*/
    justify-content: space-between;
    /*Está decido em que direção? No caso em columnas*/
    flex-direction: column;
    padding:4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size:14px;
    margin-top:10px

}

.biblioteca .biblioteca_content{
    display:flex;
    justify-content: space-between;
}

.biblioteca .Biblioteca_button {
    display:flex;
    margin-right: 10px;
    color:#b3b3b3;
    background-color: transparent;
    border:0px;
    font-size:14px;
    font-weight: 700;
    font-family: "DM Sans",sans-serif;
    text-align:center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.biblioteca .Biblioteca_button .fa{
    font-size: 20px;
    font-weight: 300;
    color:#b3b3b3;
    margin-right:10px;
    padding-right: 8px;
}

.biblioteca .biblioteca_content .fa-plus{
    margin: 24px 10px;
}

.section_playlist{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /*QUal é o tamanho entre esse espaço*/
    gap:20px;
    background-color: #242424;
    color:#b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin:8px 0px;
    padding: 16px 20px;
    border-radius:10px;

}

.section_playlist .section_playlist__content{
    display:flex;
    flex-direction: column;
}

.section_playlist__content .text{
    padding-bottom: 14px;
    color:#fff;
    font-family: "DM Sans",sans-serif;
}

.section_playlist__content .title{
    font-weight: 700;
}

.section_playlist__content .subtitle{
    font-weight: 500;
    font-size: 12px;
}

.section_playlist__content .section-playlist__button{
    display: flex;
    justify-content: center;
    background-color: #fff;
    color:#000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border:0px;
    width: 113px;
    margin-top: 12px;
}

.sidebar .cookies{
    margin: 25px 20px;
}

.sidebar .cookies a{
    color:#b3b3b3;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size:10px;
    text-decoration: none;
}

.sidebar.cookies a:hover{
    text-decoration: underline;
}

.languages .languages_button{
    align-items: center;
    background-color: transparent;
    border:1px solid #878787;
    color:#fff;
    font-weight: bold;
    cursor:pointer;
    width:170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(to right, rgb(243, 73, 223),rgb(94, 0, 128),rgb(78, 163, 255));
    padding: 15px 40px; /* Espaçamento interno */
    display: flex;
    justify-content: space-between;
   
}

.section_footer .text{
    flex-shrink: 0;
}

.section_footer .text_footer_title{
    font-family: "DM Sans", sans-serif;
    color:#f0e9e9;
    text-transform: uppercase;
    font-weight: 400px;
    font-size: 18px;
    margin-bottom: 10px; /* Espaçamento entre os textos */
    font-weight: bold;
}

.section_footer .text_footer_subtitle{
    font-family: "DM Sans", sans-serif;
    color:#f0e9e9;
    font-weight: 500px;
    font-size: 18px;
  
}



.button_footer {
    background-color: #fff; /* Cor de fundo do botão */
    color: #242424; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    padding: 14px 30px; /* Espaçamento interno do botão */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    border-radius: 40px;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: bold;

    position: absolute; /* Necessário para ajustar o deslocamento manualmente */
    bottom: 12px; /* Distância do canto inferior */
    right: 88px; /* Comece do canto direito */
    transform: translateX(-30px); 
}